// Colors
$primary-dark: #2A3F54;
$casumo-gray: #303838;
$nav-inactive: rgba(255,255,255,.75);
$white: #fff;

// Fonts
$default-fonts: lineto, sans-serif;
$header-fonts: linetoBlack, sans-serif;

// Bootstrap overrides
.container-fluid {
	padding: 0;
}
.row {
	margin: 0;
	padding: 0;
}

// General overrides
#wrap ul {
	list-style: none;
	padding: 0;
}
// Helpers
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;

}
.clearfix { display: inline-block; 
    
}
* html .clearfix { height: 1%; }
.clearfix { display: block; }

.noselect { user-select: none; }
.align-right { text-align: right; }
.fl-left { float: left }
.fl-right {	float: right; }

// Moving on
body {
  font: 100% $default-fonts;
  font-size: 15px;
  
}

.center-area {
	background: linear-gradient(to right, rgba(42,63,84,1) 0px, rgba(42,63,84,1) 200px, rgba(255,255,255,1) 200px, rgba(255,255,255,1) 100%);	
}

h2, h3 {
	font-family: $header-fonts;
}

.fa-3 {
	font-size: 1.6em;
}

#wrap {
	padding-top: 44px;
}
/*
****************************************************************************
* Top Area
****************************************************************************
*/
header {
	z-index: 1;
	height: 44px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: $white;
	box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
	img {
		height: 100%;
	}
}

aside {
	// height: 100%;
	width: 200px;
	background-color: $primary-dark;
	float: left;
	top: 44px;
	ul {
		list-style: none;
		padding: 30px 0 0 0;
	}
	li:nth-child(1) {
		border-top: 1px solid #283b4e;
	}
	li {
		display: block;
		border-bottom: 1px solid #283b4e;
		padding: 10px 0 10px 50px;;
		i.fa {
			position: absolute;
			left: -25px;
			top: 2px;
		}
		a, a:visited, a:focus {
			position: relative;
			color: $nav-inactive;
		}
		a:hover {
			color: $white;
			text-decoration: none;
		}
	}
	li.active a {
		color: $white;
	}
}
// The filter form
#filterform {
	background-color: $casumo-gray;
	color: $nav-inactive;
	padding: 15px 10px;
	h4 {
		text-decoration: underline;
		margin: 13px 0;
	}
}

.double-input .left {
	padding: 0 5px 0 0;
}
.double-input .right {
	padding: 0 0 0 5px;
}

.button-row {
	margin-top: 30px;
}
/*
****************************************************************************
* Main area
****************************************************************************
*/
#main-content {
	min-height: 400px;
	padding: 15px 0;
	float: right;
	width: calc(100% - 200px);
}
// Front page
.widget-box {
	border-radius: 8px;
	border: solid 1px #efefef;
	padding: 20px;
	width: 100%;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
	h2 {
		margin: 0 0 10px 0;
		border-bottom: 1px solid #efefef;
	}
}

// Users page
#users-controllers {
	float: right;
	width: calc(100% - 79px);
}
#users-page h2 {
	float: left;
}
#users-page th .fa {
	color: #c1c1c1;
}
#users-page th.active .fa {
	color: #333;
	font-size: 1.4em;
}
.users-table th {
	cursor: pointer;
}
.segment {
	float: right;
	margin-right: 10px;
	position: relative;
	span {
		position: absolute;
		left: -72px;
		top: 6px;
	}
}
.arrows {
	float: right;
	width: 60px;
	margin-top: 4px;
}
.arrow {
	color: #c1c1c1;
	cursor: not-allowed;
}
.arrow.active {
	color: #333;
	cursor: pointer;
}
.arrowleft {
	float: left;
}
.arrowright {
	float: right;
}

/*
****************************************************************************
* Bottom area
****************************************************************************
*/
footer {
	background-color: $casumo-gray;
	color: #aaaaaa;
	font-size: 13px;
	line-height: 1.7em;
	padding: 40px 0;
	h3 {
		font-family: $header-fonts;
		color: #8F9393;
		font-size: 1.2em;
		text-transform: uppercase;
		font-weight: 600;
	}
	a {
		color: #aaaaaa;
	}
	a:hover {
		color: $white;
	}
	ul {
		list-style: none;
		padding: 0;
	}
}

.footer-container {
	width: 80%;
	margin: auto;
	max-width: 1310px
}

// background: linear-gradient(#334556,#2C4257),#2A3F54;